In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2,3,4],[8,5,7,4],[10,7,9,60],[10,74,56,98]],columns = ['A','B','C','D'])

In [3]:
df.head()

    A   B   C   D
0   1   2   3   4
1   8   5   7   4
2  10   7   9  60
3  10  74  56  98

In [4]:
df.to_csv('export.csv')

In [5]:
df.to_csv('export1.csv',index = False)