In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,28-Mar-2022,17181.85,17235.10,17003.9,17222.00,253240837,19976.26
1,29-Mar-2022,17297.20,17343.65,17235.7,17325.30,235149625,20305.78
2,30-Mar-2022,17468.15,17522.50,17387.2,17498.25,505031841,28907.47
3,31-Mar-2022,17519.20,17559.80,17435.2,17464.75,281111679,24032.07
4,01-Apr-2022,17436.90,17703.70,17422.7,17670.45,291773447,21132.13

In [4]:
print(df['Date'].dtype)

object

In [5]:
print(df['High'].dtype)

float64

In [6]:
c = df['High']

In [7]:
c

0     17235.10
1     17343.65
2     17522.50
3     17559.80
4     17703.70
        ...
86    17172.80
87    17356.25
88    17390.15
89    17407.50
90    17490.70
Name: High, Length: 91, dtype: float64

In [8]:
print(df['High'].astype('category'))

0     17235.10
1     17343.65
2     17522.50
3     17559.80
4     17703.70
        ...
86    17172.80
87    17356.25
88    17390.15
89    17407.50
90    17490.70
Name: High, Length: 91, dtype: category
Categories (91, float64): [15382.50, 15400.40, 15565.40, 15628.45, ..., 17842.75, 17901.00, 18095.45, 18114.65]

C:\Users\ankus\AppData\Local\Temp\ipykernel_11996\1189946798.py:1: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  print(df['High'].astype('category'))